<div class="container-fluid">

    <div class="row-fluid columns">
        <div class="span2 article-tree">

            <label class="radio-inline"><input type="radio" name="optradio" ng-model="refType" value="ValueSet">ValueSet</label>
            <label class="radio-inline"><input type="radio" name="optradio" ng-model="refType" value="CodeSystem">CodeSystem</label>

            <div class="form-group">
                <label for="name" class="control-label">Название:</label>
                <div class="control">
                    <input id="name" ng-model="name" type="text" class="control"/>
                </div>
            </div>

            <div class="form-group">
                <label for="publisher" class="control-label">Источник:</label>
                <div class="control">
                    <input id="publisher" ng-model="publisher" type="text" class="control"/>
                </div>
            </div>

            <div class="form-group">
                <label for="version" class="control-label">Версия:</label>
                <div class="control">
                    <input id="version" ng-model="version" type="text" class="control"/>
                </div>
            </div>

            <button class="btn" ng-click="search()">Поиск</button>
        </div>
        <div class="span10 content-area" style="border-left: 1px solid #ccc;">

            <button class="btn" ng-disabled = "selected1Row() === false" ng-click="goToHistory()">Перейти к списку версий</button>
            <button class="btn" ng-disabled = "selected1Row() === false" ng-click="goToValueSetExpansion()">Просмотр справочника</button>
            <button class="btn" ng-disabled = "selected1Row() === false" ng-click="goToFhirResource()">Просмотр ресурса</button>



            <div ui-grid="gridOptions"  ui-grid-pagination ui-grid-selection ui-grid-resize-columns class="myGrid" height="450"></div>
        </div>
    </div>

</div>